@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
* {
  text-decoration: none;
  -webkit-overflow-scrolling: touch; }
  *:focus {
    outline: 0; }

html {
  font-family: "Mulish", sans-serif;
  font-size: 16px; }

header #navbar {
  max-width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header #navbar .logo {
    cursor: pointer; }
    header #navbar .logo img {
      width: 246px;
      height: 41px; }
  header #navbar .right-buttons ul {
    display: flex; }
    header #navbar .right-buttons ul li {
      margin-left: 40px; }
      header #navbar .right-buttons ul li a {
        font-weight: 400;
        color: rgba(31, 21, 52, 0.5); }
        header #navbar .right-buttons ul li a span.home {
          font-weight: bold;
          color: #1f1534; }

.element-dot {
  position: absolute;
  top: 160px;
  width: 131.58px;
  height: 115px;
  display: inline; }

.section-illustration {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 190px;
  align-items: center; }
  .section-illustration .header-text {
    display: flex;
    flex-direction: column;
    width: 434px;
    height: 338px;
    margin-right: 120px; }
    .section-illustration .header-text .title {
      width: 427px;
      height: 112px;
      margin-bottom: 24px; }
      .section-illustration .header-text .title h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 56px; }
    .section-illustration .header-text .paragraf {
      margin-bottom: 45px; }
      .section-illustration .header-text .paragraf p {
        width: 434px;
        height: 96px;
        color: #7d7987;
        font-size: 21px;
        line-height: 32px; }
    .section-illustration .header-text .button button {
      width: 200px;
      height: 60px;
      background-color: #458ff6;
      color: #fff;
      border-radius: 3rem;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      border: 0px;
      cursor: pointer; }
  .section-illustration .illustration {
    width: 693px;
    height: 598px;
    margin-top: 14px; }

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px; }
  .our-services h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 26px; }
  .our-services .h-r img {
    margin-bottom: 33px;
    width: 56px;
    height: 2px; }
  .our-services .our-services-paragraf {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #7d7987;
    width: 952px;
    height: 60px; }

.services-list {
  margin: auto;
  width: 1124px;
  height: 745px;
  margin-bottom: 69px; }
  .services-list .background-photo {
    position: absolute;
    z-index: -1;
    top: 950px;
    left: 0px; }
  .services-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .services-list ul li {
      width: 350px;
      height: 354px;
      display: flex;
      flex-direction: column;
      background: #fff;
      margin-bottom: 37px;
      margin-right: 36px;
      border-radius: 10px; }
      .services-list ul li:nth-child(3) {
        margin-right: 0; }
      .services-list ul li:last-child {
        margin-right: 0; }
      .services-list ul li .icon {
        width: 92px;
        height: 90px;
        margin: 54px 221px 23px 37px; }
      .services-list ul li .title {
        width: 196px;
        height: 56px;
        font-weight: bold;
        font-size: 24px;
        line-height: 56px;
        color: #000;
        margin: 0 151px 1px 39px; }
      .services-list ul li .description {
        font-weight: 300;
        font-size: 1rem;
        line-height: 28px;
        color: #7d7987;
        padding: 1px 45px 47px 39px; }

.button-learn-more {
  text-align: center; }
  .button-learn-more button.learn-more {
    width: 200px;
    height: 60px;
    color: #458ff6;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    border-radius: 50px;
    border: 1px #458ff6 solid;
    margin-bottom: 220px;
    cursor: pointer; }
    .button-learn-more button.learn-more:hover {
      background-color: #458ff6;
      color: #fff;
      transition: 1s, color, backgroun-color; }

.leading-healthcare-providers {
  width: 1273px;
  height: 477px;
  margin: auto auto 229px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .leading-healthcare-providers .medipol-illustration-sec02-1 {
    width: 650px;
    height: 477px;
    margin-right: 137px; }
  .leading-healthcare-providers .healthcare-text {
    position: relative;
    width: 486px;
    height: 398px;
    display: flex;
    flex-direction: column; }
    .leading-healthcare-providers .healthcare-text .healthcare-title {
      display: flex;
      justify-content: flex-start; }
      .leading-healthcare-providers .healthcare-text .healthcare-title h1 {
        text-align: left;
        align-items: right;
        margin-left: 0;
        margin-bottom: 26px;
        width: 481px;
        height: 112px;
        font-weight: 700;
        line-height: 56px;
        font-size: 36px;
        color: #000; }
    .leading-healthcare-providers .healthcare-text .text {
      width: 450px;
      height: 120px; }
      .leading-healthcare-providers .healthcare-text .text p {
        text-align: left;
        margin-bottom: 37px;
        color: #7d7987;
        font-size: 18px;
        line-height: 30px; }
    .leading-healthcare-providers .healthcare-text .button-learn-more #healthcare-button {
      margin-bottom: 0px;
      width: 200px;
      height: 60px;
      color: #458ff6;
      background-color: #fff;
      position: absolute;
      bottom: 0px;
      left: 0px; }

.trafalgar-illustration-sec03-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 251px; }
  .trafalgar-illustration-sec03-1 .healthcare-text {
    margin-right: 71px;
    position: relative;
    width: 486px;
    height: 398px;
    display: flex;
    flex-direction: column; }
    .trafalgar-illustration-sec03-1 .healthcare-text .healthcare-title {
      display: flex;
      justify-content: flex-start; }
      .trafalgar-illustration-sec03-1 .healthcare-text .healthcare-title h1 {
        text-align: left;
        align-items: right;
        margin-left: 0;
        margin-bottom: 26px;
        width: 481px;
        height: 112px;
        font-weight: 700;
        line-height: 56px;
        font-size: 36px;
        color: #000; }
    .trafalgar-illustration-sec03-1 .healthcare-text .text {
      width: 450px;
      height: 120px; }
      .trafalgar-illustration-sec03-1 .healthcare-text .text p {
        text-align: left;
        margin-bottom: 37px;
        color: #7d7987;
        font-size: 18px;
        line-height: 30px; }
    .trafalgar-illustration-sec03-1 .healthcare-text .button-learn-more #healthcare-button {
      margin-bottom: 0px;
      width: 200px;
      height: 60px;
      color: #458ff6;
      background-color: #fff;
      position: absolute;
      bottom: 0px;
      left: 0px; }

.account-testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1120px;
  height: 425px;
  margin: auto;
  text-align: center;
  z-index: 0;
  margin-bottom: 42px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px; }
  .account-testimonials span.element-dot-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
  .account-testimonials span.element-dot-2 {
    position: absolute;
    bottom: 39px;
    right: 1040px;
    z-index: -1; }
  .account-testimonials h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: white;
    max-width: 522px;
    height: 48px;
    margin: 64px 297px 25px 301px; }
  .account-testimonials .account-infos {
    display: flex;
    justify-content: center;
    align-items: center; }
    .account-testimonials .account-infos .account-info-left {
      display: flex;
      justify-content: center;
      align-items: center; }
      .account-testimonials .account-infos .account-info-left .account-name-rank {
        margin-left: 29px;
        display: flex;
        flex-direction: column;
        text-align: left; }
        .account-testimonials .account-infos .account-info-left .account-name-rank .name {
          font-size: 22px;
          line-height: 48px;
          font-weight: bold;
          color: #fff; }
        .account-testimonials .account-infos .account-info-left .account-name-rank .rank {
          font-size: 18px;
          line-height: 48px;
          color: #fff; }
    .account-testimonials .account-infos .account-info-right .account-comment {
      width: 420px;
      height: 120px;
      margin-left: 110px;
      color: #fff;
      font-size: 19px;
      font-weight: 400;
      line-height: 30px;
      text-align: left; }

.arrow-nav {
  width: 336px;
  height: 20px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 216px; }
  .arrow-nav button {
    font-style: none;
    border: none;
    background-color: #fff;
    cursor: pointer; }
